form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.form{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.errors{
    text-align: center;
    color: red;
    font-size: 18px;
    margin-top: 20px;
}